@layer base {
  :root{
    --page-max-width: 1384px;
    --content-max-width: 1232px;
  }
  .boxed-layout {
    max-width: calc(100vw - 40px);
    margin-left: auto;
    margin-right: auto;
  }
  .section-m-y {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .theme-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  .content-grid {
    --padding-inline: 24px;
    --breakout-max-width: var(--page-max-width);
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
      [full-width-start]
      minmax(var(--padding-inline), 1fr)
      [breakout-start]
      minmax(0, var(--breakout-size))
      [content-start]
      min(100% - (var(--padding-inline) * 2), var(--content-max-width))
      [content-end]
      minmax(0, var(--breakout-size))
      [breakout-end]
      minmax(var(--padding-inline), 1fr)
      [full-width-end];
    justify-content: center;
  }

  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }

  .content-grid > .breakout,
  .full-width > .breakout{
    grid-column: breakout;
  }

  .content-grid > .full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
  }

  .full-width > .full-width {
    grid-column: full-width;
  }

  @media (min-width: 640px) {
    .boxed-layout {
      max-width: calc(100vw - 32px);
    }
  }

  @media (min-width: 768px) {
    .boxed-layout {
      max-width: calc(100vw - 108px);
    }
    .theme-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
    }
    .section-m-y {
      margin-top: 7rem;
      margin-bottom: 4rem;
    }
  }

  @media (min-width: 1280px) {
    .boxed-layout {
      max-width: var(--page-max-width);
    }
  }

  @media (min-width: 1536px) {

  }
}